body {
    margin: 0;
}
.navbar {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 370px;
    top: 32px;
}
.home {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #16A085;
    position: absolute;
    width: 68px;
    height: 400px;
    left: 0;
    top: -191px;
}
.photoapp {
    text-decoration: none;
    position: absolute;
    width: 131px;
    height: 400px;
    left: 126px;
    top: -191px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #16A085;
}
.design {
    text-decoration: none;
    position: absolute;
    width: 87px;
    height: 400px;
    left: 315px;
    top: -191px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #16A085;
}
.download {
    text-decoration: none;
    position: absolute;
    width: 140px;
    height: 400px;
    left: 460px;
    top: -191px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #16A085;
}
.images {
    text-align: center;
    margin-top: 78px;
    left: 3px;

}
.content2 {
    position: absolute;
    width: 1145px;
    height: 434px;
    left: 68px;
    margin-top: 98px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.content3 {
    position: absolute;
    width: 1145px;
    height: 434px;
    left: 68px;
    margin-top: 250px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;

}
.content1 {
    position: absolute;
    width: 774px;
    height: 29px;
    left: 342px;
    margin-top: 47px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
button {
    position: absolute;
    width: 195px;
    height: 54px;
    left: 543px;
    margin-top: 1315px;
    background: #16A085;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer {
    position: absolute;
    width: 509px;
    height: 29px;
    left: 692px;
    top: 1542px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.4px;
    color: #373737;
}





   
